
.fs13{
  font-size: 13px;
}
.fw500{
  font-weight: 500!important;
}

.p50{
  padding: 50px;
}

.pr20{
  padding-right: 20px;
}

.page-enter-active, .page-leave-active {
  transition: .5s;
}

.hidden-sm-and-down {
    margin-top: 0px!important;
}

/*.page-enter, .page-leave-to { */
.page-leave-to {
  /*transform: translateX(100%);*/
  opacity: 0;
}
/*
*  GENERAL
*/
.alert span.title {
  font-size: 13px !important;
  text-transform: uppercase;
  color: #000000;
}
.alert span {
  font-size: 13px !important;
  color: #000000;
}
.badge--left .badge__badge {
  left: -22px;
}
.badge__badge {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -5px;
  right: -3px;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
  transition: .3s cubic-bezier(.25,.8,.5,1);
}
.color_gris{
  color: #d4d4d4;
}
.menu_init_title{
  color: #212121;
  margin-top: 17px;
  text-transform: capitalize;
}
.menu_init_box{
  padding-right: 70px;
}

.application.theme--light {
  background: #ffff;
  color: rgba(0,0,0,0.87);
}
.p50{
  padding: 50px;
}
.prl50{
  padding-left: 50px;
  padding-right: 50px;
}
.section-a{
  padding: 50px 0px;
  background: #f8f8f8;
}
.blue_app{
  background-color: #268ae0 !important;
  border-color: #268ae0 !important;
}
.naranja {
  background-color: #fd5621!important;
  border-color: #fd5621!important;
}



/*
* Carousel
*/
.carousel__controls {
  background: none;
}
.carousel {
  height: auto;
}
.carousel_master_p{
  height: auto;
  box-shadow: none;
}
.carousel__right {
  right: 5px;
  border-radius: 50%;
  background: #c1bfbf;
}
.carousel__left {
  left: 5px;
  border-radius: 50%;
  background: #c1bfbf;
}
.carousel_master_p .carousel__controls{
  display: none!important;
}
.title_slider{
  color: #3f51b5;
  font-weight: 500;
  padding-left: 21px;
  font-size: 20px;
  margin-top: 5px;
}
.title-slider-p{
  color: #3f51b5;
  font-weight: 700;
  padding-left: 20px;
}
.title_slider_more{
  color: #fd5621;
  font-size: 13px;
  font-weight: 200;
}






/*
* Elementos generales
*/

/*General*/
.application.theme--light {
  background: #ffff;
  color: rgba(0,0,0,0.87);
}
.p50{
  padding: 50px;
}
.p10{
  padding: 10px;
}
.prl50{
  padding-left: 50px;
  padding-right: 50px;
}
.section-a{
  padding: 50px 0px;
  background: #f8f8f8;
}
.section-b{
  background: #f8f8f8;
}
.blue_app{
  background-color: #268ae0 !important;
  border-color: #268ae0 !important;
}
.naranja {
  background-color: #fd5621!important;
  border-color: #fd5621!important;
}
.center{
  text-align: center;
}


/*resposive img*/
.resposive_img{
  max-width: 100%;
}



/*Producto*/
.triangulo_equilatero {
   width: 0;
   height: 0;
   border-right: 40px solid transparent;
   border-top: 40px solid #f8002d;
   border-left: 40px solid #f8002d;
   border-bottom: 40px solid transparent;
}
.box_triangulo{
  position: absolute;
  top:0;
  left: 0px;
}
.triangulo_equilatero p{
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  color: #fff;
  font-weight: 900;
}
.carru_add_cart_btn{
  text-align: center;
  padding-bottom: 15px;
}
.carru_title_1{
  color: blue;
  font-size: 13px;
}
.carru_title_2{
  color: #9a9a9a;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.carru_title_3{
  color: #f8002d;
  font-size: 15px;
}
.carru_title_4{
  color: #9a9a9a;
  font-size: 12px;
  text-decoration:line-through;
}
.product-overlay {
  background: #ffffff80;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  -webkit-transition: height 500ms ease 0s;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
}
.product-overlay .overlay-content {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.product-overlay h2 {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.product-overlay p {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #212121;
}
.product-overlay .add-to-cart {
  background: #fff;
  border: 0 none;
  border-radius: 0;
  color: #FE980F;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}
.add-to-cart i {
  margin-right: 5px;
}

.single-products:hover .product-overlay {
  display: block;
  height: 100%;
}
.single-products {
  position: relative;
}

.product-image-wrapper {
  overflow: hidden;
}
.product_box_hover{
  padding: 10px;
}
.detail_btn_add i{
  font-size: 16px;
  margin-left: 6px;
  margin-right: -10px;
}
.detail_btn_add {
  color: #fff!important;
  text-transform: none;
  margin-top: 15px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.line_add_cart{
  color: #d6491c;
  padding-left: 10px;
  padding-right: 5px;
}

.vue-notifyjs .alert-info {
    background-color: #3949ab!important;
    color: #FFF!important;
    border: 1px solid #fff!important;
}
.vue-notifyjs .alert-danger {
    background-color: #fd5621!important;
    color: #FFF!important;
    border: 1px solid #fff!important;
}
.alert span {
    font-size: 13px !important;
    color: #FFF!important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/*responsive 550*/
@media (max-width: 550px){
  .row_resposive{
    text-align: center;
  }
}


/*filter*/
.list__tile{
  height: auto;
  padding: 15px 5px!important;
}
.ais-refinement-list__item, .ais-refinement-list__label{
  font-size: 13px;
  color: #5d5d5d;
  padding: 5px 0;
}
.ais-refinement-list{
  width: 100%;
}
.ais-refinement-list__count{
  float: right;
  color: #fff;
  background: #cdcdcd;
  padding: 0 4px;
  border-radius: 50%;
}
.ais-refinement-list__label .badge {
  float: right;
  color: #fff;
  background: #cdcdcd;
  padding: 0 4px;
  border-radius: 50%;
}

/*
* Tabs
*/
.detail_title_tabs_2{
  color: #8a8a8a!important;
}
.tabs__slider {
    display: none;
}
.detail_title_tabs_2 a{
  display: block;
}
.title_tabs2{
  text-transform: capitalize;
}
.tabs__item{
  padding-top: 2px;
}
.tabs__item i{
  font-size: 30px;
  margin-bottom: 10px;
}
.tabs__item--active i{
  color: #268ae0;
  padding-bottom: 5px;
}
.tabs__item--active{
  background: #e4e4e4;
  border-top: 3px solid #268ae0;
  padding-top: 10px;
  color: #212121!important;
}
.card_tabs2{
  background-color: #e5e5e5!important;
}
.tabs__container{
  height: 90px;
  border-bottom: 1px solid #cacaca;
}
.progress-linear{
  height: 4px!important;
}
.hidden-sm-and-down{
      margin-top: 0px!important;
}
.pb0{
  padding-bottom: 0px;
}
.pt20{
  padding-top: 20px;
}
.tabs-color-no-active{
  filter: grayscale(100%);
  opacity: 0.3;
  margin-bottom: 5px;
}
.tabs__item--active img{
  filter: grayscale(0%);
  opacity: 1;
}
.movil-slider img{
  width: 100%;
  height: 160px;
}
.slider-pc img{
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .tabs__item{
    padding-top: 12px;
  }
}

.tabs__icon--next {
    right: 4px;
    background: #ddd;
    width: 25px;
    height: 25px;
    margin-top: 29px;
    border-radius: 50%;
}
.tabs__icon--prev {
    left: 4px;
    background: #ddd;
    width: 25px;
    height: 25px;
    margin-top: 29px;
    border-radius: 50%;
}
.tabs__wrapper--show-arrows {
    margin-left: 30px;
    margin-right: 40px;
}
.detail_title_tabs_2{
  background: #fff;
}
.detail_container_tabs{
  background: #fff;
}
.theme--dark .tabs__bar, .application .theme--dark.tabs__bar {
    background-color: #fff;
}
.ptr15tabs{
  padding-top: 15px;
}
@media only screen and (max-width: 550px) {
  .circle-tabs-index{
    background: #fff;
    width: 100%;
    height: 52px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 2px #888888b8;
  }
  .ptr15tabs{
    padding-top: 0px;
  }
  .detail_title_tabs_2{
    background: #f1f1f1;
  }
  .detail_container_tabs{
    background: #f1f1f1;
  }
  .theme--dark .tabs__bar, .application .theme--dark.tabs__bar {
      background-color: #f1f1f1;
  }
}




/*pagination*/
.ais-pagination{
  padding-left: 0;
  list-style-type: none;
  text-align: left;
}
.ais-pagination li {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  height: 34px;
  width: 34px;
  border-radius: 4px;
  background: transparent;
  margin: 0.3rem;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.ais-pagination__item {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}
.ais-pagination li a {
  color: #444;
  display: inline-block;
  font-size: 12px;
  padding: 0 10px;
  line-height: 30px;
}
.ais-pagination li.ais-pagination__item--active a {
  color: #fff;
}
.ais-pagination li.ais-pagination__item--active{
  background: #3949ab;
}
.ais-pagination__item--first a{
  color:#ddd;
}
.ais-price-range span{
  display:block;
}
.ais-price-range input{
  border-bottom: 1px solid #ddd;
}
.ais-price-range__currency--left{
  float: left;
  font-size: 14px;
  color: #424242;
}
.ais-price-range__input--to{
  border-bottom: 1px solid #ddd;
}
.list__group__header{
  padding: 0px 0!important;
}
.ais-price-range{
  padding: 10px 0;
}
.ais-refinement-list__value{
  font-size: 12px;
  color: #4c4c4c;
  text-transform: capitalize;
  margin-left: 5px;
}
.badge{
  font-size: 12px;
  color: #4c4c4c;
  float: right;

}
.ais-refinement-list{
  width: 100%;
  padding: 15px 0;
}

/*Laboratorio detalle filtro*/
.ais-clear{
  display: none!important;
}
.ais-results-per-page-selector{
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff;
  padding-left: 16px;
}